body {
  background-image: url("/assets/images/bootsverleih.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  font-family: "Inter", sans-serif;

  margin: 0;

  color: white;
}

#calendar {
  margin: 0;
  width: 200px;
  height: 35vh;
  max-height: 35vh;
  border: solid 1px black;
  background-color: azure;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;

  .section {
    height: 15px;
    color: #839990;
    border-bottom: solid 1px black;

    &.reserved {
      background-color: red;
      color: white;
      opacity: 60%;
    }

    &.preview {
      box-shadow: inset 0 0 0 1000px rgba(30, 144, 255, 0.5);
      color: white;
      opacity: 60%;
    }
  }
}

.title {
  text-align: center;
  margin: 0;

  color: white;
}

.header {
  background-color: #436065;
  padding-top: 10px;
  padding-bottom: 10px;

  .navigation {
    padding-bottom: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      text-decoration: none;
      color: white;
      transition: color 0.1s ease-in;

      &.active {
        text-decoration: underline;
        font-weight: bold;
      }
    }

    a:hover {
      color: #d1d1d1;
    }
  }
}

#newboat {
  text-align: center;

  #boatForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    dd, dt {
      margin: 0;
      padding: 0;
    }

    dl {
      width: 30%;
      margin-bottom: 0;
    }

    input[type="text"] {
      padding-block: 0;
      padding-inline: 0;
      border-width: 0;
      width: 100%;
      height: 30px;
    }

    .confirm {
      margin-top: 16px;
      width: 30%;
      height: 30px;
    }
  }
}

#container {
  background-color: white;
  margin: 16px;
  border-radius: 8px;
  max-width: fit-content;
  color: black;

  #boatlist {
    margin: 16px;

    h2 {
      margin: 0;
    }
  }
}