body {
  background: url("/assets/images/bootsverleih.png") no-repeat fixed center/cover;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: white;
}

.title {
  text-align: center;
  margin: 0;
  color: white;
}

.header {
  background-color: #436065;
  padding: 10px 0;
  position: sticky;
  top: 0;

  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 1px;
  }

  ul {
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      color: white;
      text-decoration: none;
      transition: color 0.1s ease-in;

      &.active {
        text-decoration: underline;
        font-weight: bold;
      }

      &:hover {
        color: #d1d1d1;
      }
    }
  }
}

#calendar-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 65px);

  .inputFields {
    background-color: white;
    margin: 16px 8px 16px 16px;
    border-radius: 8px;
    color: black;
    flex: 1;

    #reservationForm {
      padding: 16px;

      dd, dt, dl {
        margin: 0;
        padding: 0;
      }
    }
  }

  .calendar {
    background-color: white;
    margin: 16px 16px 16px 8px;
    border-radius: 8px;
    color: black;
    flex: 1;

    #calendar {
      width: 200px;
      height: 35vh;
      border: 1px solid black;
      background-color: azure;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      scroll-behavior: smooth;
      margin: 0;

      .section {
        height: 15px;
        color: #839990;
        border-bottom: 1px solid black;

        &.reserved {
          background-color: red;
          color: white;
          opacity: 0.6;
        }

        &.preview {
          box-shadow: inset 0 0 0 1000px rgba(30, 144, 255, 0.5);
          color: white;
          opacity: 0.6;
        }
      }
    }
  }
}

#newboat {
  text-align: center;

  #boatForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    dd, dt {
      margin: 0;
      padding: 0;
    }

    dl {
      width: 30%;
      margin-bottom: 0;
    }

    input[type="text"] {
      width: 100%;
      height: 30px;
      padding: 0;
      border: 0;
    }

    .confirm {
      width: 30%;
      height: 30px;
      margin-top: 16px;
    }
  }
}

#boatlist-container {
  background-color: white;
  margin: 16px;
  border-radius: 8px;
  color: black;

  #boatlist {
    padding: 16px;

    h2 {
      margin: 0;
    }

    #add {
      margin-top: 16px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      padding: 0;
      margin: 8px 0 0;

      li {
        flex: 1;
        min-width: 18vw;
        height: 20vh;
        background-color: #9e9e9e;
        list-style: none;
        display: flex;
        align-items: center;

        button {
          height: 24px;
        }
      }
    }
  }
}

.fa-trash {
  color: red;
}

@media (max-width: 1150px) {
  #container #boatlist ul li { min-width: 25vw; }
}

@media (max-width: 930px) {
  #container #boatlist ul li { min-width: 30vw; }
}

@media (max-width: 500px) {
  #container #boatlist ul li { min-width: 100%; }
}