@(boats: java.util.List[Boat])(implicit request: Http.Request)

@main("Bootsliste") {
    <div id="boatlist-container">
        <div id="boatlist">
            <h2>Boote</h2>

            @if(boats == null) {
                <p>There are currently no boats available</p>
            } else {
                <ul>
                    @for(boat <- boats) {
                        <li>
                            <button id="delete" type="button" onclick="confirmDelete(@boat.id, event)" class="fa fa-trash"></button>

                            <p>@boat.kfz - @boat.name</p>
                        </li>
                    }
                </ul>
            }

            <button id="add" onclick="window.location.href='@routes.BoatController.newBoat()'" class="fa fa-plus"></button>
        </div>
    </div>
}